---
http_interactions:
- request:
    method: get
    uri: https://api.data.gov/sam/v4/registrations/8091025070000?api_key=<data_dot_gov_api_key>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '25'
      X-Ratelimit-Remaining:
      - '24'
    body:
      encoding: UTF-8
      string: '{"sam_data":{"registration":{"govtBusinessPoc":{"lastName":"GOSWAMI","fax":"8665667533","address":{"zip":"20878","countryCode":"USA","line1":"14608
        Pebble Hill Lane","stateorProvince":"MD","city":"North Potomac"},"email":"VIJAY@XFINION.COM","usPhone":"3018014897","firstName":"VIJAY"},"disasterRelief":{"type":"ANY"},"qualifications":{},"dunsPlus4":"0000","activationDate":"2015-11-27
        08:50:04.0","fiscalYearEndCloseDate":"12/31","businessTypes":["QZ","XS","VW","2X","27","23","A620240406"],"pastPerformancePoc":{"lastName":"MECCIA","address":{"zip":"20431","countryCode":"USA","line1":"600
        19th St NW","stateorProvince":"DC","city":"Washington"},"email":"MECCIAMJ@STATE.GOV","usPhone":"2024857820","firstName":"MICHAEL"},"registrationDate":"2008-08-17
        00:00:00.0","certificationsURL":{"pdfUrl":"https://www.sam.gov/SAMPortal/filedownload?reportType=2&orgId=7XSJiyJCAgoH4l%2FvaJm8Rkp3Yntmxz0MJZ2uoipQZ8DWMmld7Qk5l1hKhCxCP6Vo&pitId=YhJgbYtAO%2BHEPgDqw3VUY8YePz%2FfvQ6o1yMiHpMKjjZvbWe2ElHYRdkMGDmYM%2FDE&requestId=X8Pgh1WmTVs9YGZ"},"hasDelinquentFederalDebt":false,"duns":"809102507","altElectronicBusinessPoc":{"lastName":"GOSWAMI","fax":"8665667533","address":{"zip":"20878","countryCode":"USA","line1":"14608
        Pebble Hill Lnae","stateorProvince":"MD","city":"North Potomac"},"email":"NILAM@XFINION.COM","usPhone":"3013286579","firstName":"NILAM"},"cage":"561R4","hasKnownExclusion":false,"publicDisplay":true,"expirationDate":"2016-11-25
        18:48:10.0","altPastPerformancePoc":{"lastName":"KAUL","address":{"zip":"22209","countryCode":"USA","line1":"1801
        North Lynn Street","stateorProvince":"VA","city":"Rosslyn"},"email":"KAULN@STATE.GOV","usPhone":"5713459854","firstName":"NISHA"},"status":"ACTIVE","corporateStructureCode":"2L","corporateStructureName":"Corporate
        Entity (Not Tax Exempt)","stateOfIncorporation":"MD","legalBusinessName":"XFINION
        INC.","congressionalDistrict":"MD 06","bondingInformation":{},"businessStartDate":"2005-09-16","lastUpdateDate":"2015-11-27
        08:50:04.0","statusMessage":"Active","samAddress":{"zipPlus4":"6933","zip":"20817","countryCode":"USA","line1":"7800
        LONESOME PINE LN","stateorProvince":"MD","city":"BETHESDA"},"submissionDate":"2015-11-26
        18:48:10.0","naics":[{"isPrimary":false,"naicsCode":"541519","naicsName":"OTHER
        COMPUTER RELATED SERVICES"},{"isPrimary":false,"naicsCode":"511210","naicsName":"SOFTWARE
        PUBLISHERS"},{"isPrimary":true,"naicsCode":"541511","naicsName":"CUSTOM COMPUTER
        PROGRAMMING SERVICES"},{"isPrimary":false,"naicsCode":"518210","naicsName":"DATA
        PROCESSING, HOSTING, AND RELATED SERVICES"},{"isPrimary":false,"naicsCode":"541512","naicsName":"COMPUTER
        SYSTEMS DESIGN SERVICES"}],"certifications":{"farResponses":[{"id":"FAR 52.209-2","answers":[{"answerText":"No","section":"52.209-2.c.1"},{"answerText":"No","section":"52.209-2.c.2"}]},{"id":"FAR
        52.209-5","answers":[{"answerText":"No","section":"52.209-5.a.1.i.A"},{"answerText":"No","section":"52.209-5.a.1.i.B"},{"answerText":"No","section":"52.209-5.a.1.i.D"},{"answerText":"No","section":"52.209-5.a.1.i.C"},{"answerText":"No","section":"52.209-5.a.1.ii"}]},{"id":"FAR
        52.203-2","answers":{"section":"52.203-2.b.2.i","SamPointOfContact":{"lastName":"Goswami","title":"Principal","firstName":"Vijaykumar"}}},{"id":"FAR
        52.215-6","answers":{"answerText":"No","section":"52.215-6.a"}},{"id":"FAR
        52.214-14","answers":{"answerText":"No","section":"52.214-14.a"}},{"id":"FAR
        52.223-4","answers":{"answerText":"No","section":"52.223-4"}},{"id":"FAR 52.223-9","answers":{"answerText":"No","section":"52.223-9"}},{"id":"FAR
        52.219-2","answers":{"answerText":"No","section":"52.219-2.a"}},{"id":"FAR
        52.204-3","answers":[{"answerText":"TIN ON FILE","section":"52.204-3.d"},{"answerText":"No","section":"52.204-3.f"}]},{"id":"FAR
        52.212-3","answers":[{"naics":[{"isSmallBusiness":"Y","isPrimary":false,"naicsCode":541519,"ExcpCounter":1,"naicsName":"Other
        Computer Related Services"},{"isSmallBusiness":"Y","isPrimary":false,"naicsCode":541519,"ExcpCounter":2,"naicsName":"Information
        Technology Value Added Resellers18"},{"isSmallBusiness":"Y","isPrimary":false,"naicsCode":518210,"naicsName":"DATA
        PROCESSING, HOSTING, AND RELATED SERVICES"},{"isSmallBusiness":"Y","isPrimary":false,"naicsCode":541512,"naicsName":"COMPUTER
        SYSTEMS DESIGN SERVICES"},{"isSmallBusiness":"Y","isPrimary":true,"naicsCode"[...]
- request:
    method: get
    uri: https://api.data.gov/sam/v4/registrations/0123456780002?api_key=<data_dot_gov_api_key>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '25'
      X-Ratelimit-Remaining:
      - '24'
    body:
      encoding: UTF-8
      string: '{"Message":"The registration could not be found","Code":404,"Error":"Not
        Found"}'
  recorded_at: Tue, 24 May 2016 20:30:28 GMT
[...]
- request:
    method: get
    uri: https://api.data.gov/sam/v4/registrations/0783270180000?api_key=<data_dot_gov_api_key>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '25'
      X-Ratelimit-Remaining:
      - '23'
    body:
      encoding: UTF-8
      string: '{"sam_data":{"registration":{"govtBusinessPoc":{"lastName":"REYNOLDS","title":"CHIEF
        ENGINEER","fax":"9784055109","address":{"zipPlus4":"2799","zip":"01742","countryCode":"USA","line1":"328
        VIRGINIA ROAD","stateorProvince":"MA","city":"CONCORD"},"email":"MCR@ISLANDPEAKSOFTWARE.COM","middleInitial":"C","usPhone":"9783418385","firstName":"MARK"},"qualifications":{},"dunsPlus4":"0000","activationDate":"2016-03-28
        10:14:38.0","fiscalYearEndCloseDate":"12/31","businessTypes":["LJ","VW","2X"],"registrationDate":"2011-12-27
        00:00:00.0","certificationsURL":{"pdfUrl":"https://www.sam.gov/SAMPortal/filedownload?reportType=2&orgId=0VocQSIo565AfpNPbIMORbOtcoqJjjoK6ZYLBfRgy14db5eRyn4fDkpkhphvfu8w&pitId=I%2FHTb4OrGHUwBvgjTvHIMnwx9pU4xMfoQs44HUZ1tjIJzUcGjLTCjllI2wKgMNqQ&requestId=zZkl7Z0Xi4G7L32"},"pscCodes":[{"pscName":"R&D-
        GENERAL SCIENCE/TECHNOLOGY: MATHEMATICAL/COMPUTER SCIENCES (APPLIED RESEARCH/EXPLORATORY
        DEVELOPMENT)","pscCode":"AJ22"},{"pscName":"R&D- GENERAL SCIENCE/TECHNOLOGY:
        MATHEMATICAL/COMPUTER SCIENCES (BASIC RESEARCH)","pscCode":"AJ21"},{"pscName":"R&D-
        GENERAL SCIENCE/TECHNOLOGY: MATHEMATICAL/COMPUTER SCIENCES (ADVANCED DEVELOPMENT)","pscCode":"AJ23"}],"hasDelinquentFederalDebt":false,"duns":"078327018","altElectronicBusinessPoc":{"lastName":"REYNOLDS","title":"CHIEF
        ENGINEER","fax":"9783710046","address":{"zipPlus4":"2799","zip":"01742","countryCode":"USA","line1":"328
        VIRGINI[...]
- request:
    method: get
    uri: https://api.data.gov/sam/v4/registrations/0223841150000?api_key=<data_dot_gov_api_key>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '25'
      X-Ratelimit-Remaining:
      - '23'
    body:
      encoding: UTF-8
      string: '{"sam_data":{"registration":{"govtBusinessPoc":{"lastName":"GREMILLION","usPhoneExt":"1112","fax":"5048311901","address":{"zipPlus4":"3044","zip":"70005","countryCode":"USA","line1":"111
        VETERANS BLVD.","stateorProvince":"LA","line2":"STE. 1600","city":"METAIRIE"},"email":"RICK.GREMILLION@GEOCENT.COM","usPhone":"5048311900","firstName":"RICHARD"},"qualifications":{"acass":{"id":"SF330","answers":{"answerText":"No","section":"SF330.1"}}},"dunsPlus4":"0000","activationDate":"2015-08-06
        09:31:21.0","fiscalYearEndCloseDate":"12/31","businessTypes":["LJ","VW","2X"],"registrationDate":"2009-09-02
        00:00:00.0","certificationsURL":{"pdfUrl":"https://www.sam.gov/SAMPortal/filedownload?reportType=2&orgId=%2FDfzk3q2kq8nQD7%2FQCckufEV2ctjlobGnFLlScNUfeAMxFIigNs3RzZiFhoSSNz9&pitId=RhC3Ct07GBf9xGMnl%2BNYowZp2VuWD2uHjQcJ9AlrH%2FPUm%2FnWpn%2FXxjAT474FwNS9&requestId=4S2U5F3cWeiEgCR"},"pscCodes":[{"pscName":"SUPPORT-
        PROFESSIONAL: PROGRAM MANAGEMENT/SUPPORT","pscCode":"R408"},{"pscName":"SUPPORT-
        PROFESSIONAL: PERSONAL SERVICES CONTRACTS","pscCode":"R497"},{"pscName":"SUPPORT-
        PROFESSIONAL: TECHNOLOGY SHARING/UTILIZATION","pscCode":"R415"},{"pscName":"SUPPORT-
        PROFESSIONAL: ENGINEERING/TECHNICAL","pscCode":"R425"},{"pscName":"SUPPORT-
        PROFESSIONAL: OTHER","pscCode":"R499"}],"hasDelinquentFederalDebt":false,"duns":"022384115","altElectronicBusinessPoc":{"lastName":"TOMENY","usPhoneExt":"115[...]
[...]
- request:
    method: get
    uri: https://api.data.gov/sam/v4/registrations/5061639620000?api_key=<data_dot_gov_api_key>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '25'
      X-Ratelimit-Remaining:
      - '24'
    body:
      encoding: UTF-8
      string: '{"sam_data":{"registration":{"govtBusinessPoc":{"lastName":"RAKIC","address":{"zip":"11111","countryCode":"SRB","line1":"Molerova
        12/2","stateorProvince":"AA","city":"Belgrade"},"email":"GRAKIC@DEVBASE.NET","nonUsPhone":"381-637074291","firstName":"GORAN"},"hasKnownExclusion":false,"publicDisplay":true,"status":"WIP","corporateStructureCode":"2J","corporateStructureName":"Sole
        Proprietorship","ncage":"A0C7S","legalBusinessName":"GORAN RAKIC PR DEVBASE","dunsPlus4":"0000","congressionalDistrict":"
        ","bondingInformation":{},"fiscalYearEndCloseDate":"12/31","businessStartDate":"2015-10-28","businessTypes":["VW","2X"],"lastUpdateDate":"2016-03-16
        17:29:25.0","samAddress":{"zip":"11111","countryCode":"SRB","line1":"MOLEROVA
        12","city":"Belgrade"},"naics":[{"isPrimary":true,"naicsCode":"541511","naicsName":"CUSTOM
        COMPUTER PROGRAMMING SERVICES"}],"registrationDate":"2016-03-16 00:00:00.0","creditCardUsage":true,"duns":"506163962","countryOfIncorporation":"SRB","electronicBusinessPoc":{"lastName":"RAKIC","address":{"zip":"11111","countryCode":"SRB","line1":"Molerova
        12/2","stateorProvince":"AA","city":"Belgrade"},"email":"GRAKIC@DEVBASE.NET","nonUsPhone":"381-637074291","firstName":"GORAN"},"mailingAddress":{"zip":"11111","countryCode":"SRB","line1":"MOLEROVA
        12/2","city":"Belgrade"},"purposeOfRegistration":"ALL_AWARDS"}}}'
  recorded_at: Tue, 07 Jun 2016 00:09:45 GMT
recorded_with: VCR 3.0.3
