---
http_interactions:
- request:
    method: get
    uri: https://api.data.gov/sam/v1/registrations/0800374780000?api_key=<data_dot_gov_api_key>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
    body:
      encoding: UTF-8
      string: '{"sam_data":{"registration":{"govtBusinessPoc":{"lastName":"SUDOL","address":{"Line1":"4301
        N HENDERSON RD APT 408","Zip":"22203","Country":"USA","City":"Arlington","stateorProvince":"VA"},"email":"BRENDANSUDOL@GMAIL.COM","usPhone":"5404218332","firstName":"BRENDAN"},"dunsPlus4":"0000","activationDate":"2015-10-30
        11:42:30.0","fiscalYearEndCloseDate":"12/31","businessTypes":["VW","2X","27"],"registrationDate":"2015-10-28
        00:00:00.0","certificationsURL":{"pdfUrl":"https://www.sam.gov/SAMPortal/filedownload?reportType=1&orgId=W9hfF7OSUNwKDaFAWfFZYnRXkGmbUzSHqFa0XGdQx%2FQrRuiaqgaGRobWADyRQmon&pitId=%2FiagvMpXNAcdZG%2Bygn7D2P61gHHrSdsNKFUGR72DFVZVJnfbF0L4QPi%2FudytK42M&requestId=61dsi9kL4T3z1Ee"},"hasDelinquentFederalDebt":false,"duns":"080037478","cage":"7H1Y7","hasKnownExclusion":false,"publicDisplay":true,"expirationDate":"2016-10-27
        10:53:02.0","status":"ACTIVE","corporateStructureCode":"2J","stateOfIncorporation":"VA","corporateStructureName":"Sole
        Proprietorship","legalBusinessName":"Sudol, Brendan","congressionalDistrict":"VA
        08","businessStartDate":"2015-10-28","statusMessage":"Active","lastUpdateDate":"2015-11-02
        17:36:23.0","submissionDate":"2015-10-28 10:53:02.0","samAddress":{"Zip4":"2511","Line1":"4301
        N Henderson Rd Apt 408","Zip":"22203","Country":"USA","City":"Arlington","stateorProvince":"VA"},"naics":[{"isPrimary":false,"naicsCode":"518210","naicsName":"DATA
        PROCESSING, HOSTING, AND RELATED SERVICES"},{"isPrimary":true,"naicsCode":"541511","naicsName":"CUSTOM
        COMPUTER PROGRAMMING SERVICES"}],"creditCardUsage":true,"countryOfIncorporation":"USA","electronicBusinessPoc":{"lastName":"SUDOL","address":{"Line1":"4301
        N HENDERSON RD APT 408","Zip":"22203","Country":"USA","City":"Arlington","stateorProvince":"VA"},"email":"BRENDANSUDOL@GMAIL.COM","usPhone":"5404218332","firstName":"BRENDAN"},"mailingAddress":{"Zip4":"2511","Line1":"4301
        N Henderson Rd Apt 408","Zip":"22203","Country":"USA","City":"Arlington","stateorProvince":"VA"},"purposeOfRegistration":"ALL_AWARDS"}}}'
  recorded_at: Wed, 03 Feb 2016 16:18:20 GMT
- request:
    method: get
    uri: https://api.data.gov/sam/v1/registrations/0800314780000?api_key=<data_dot_gov_api_key>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
    body:
      encoding: UTF-8
      string: '{"Message":"The registration could not be found","Code":404,"Error":"Not
        Found"}'
  recorded_at: Wed, 03 Feb 2016 16:18:20 GMT
- request:
    method: get
    uri: https://api.data.gov/sam/v4/registrations/0800374780000?api_key=<data_dot_gov_api_key>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
    body:
      encoding: UTF-8
      string: '{"sam_data":{"registration":{"govtBusinessPoc":{"lastName":"SUDOL","address":{"zip":"22203","countryCode":"USA","line1":"4301
        N HENDERSON RD APT 408","stateorProvince":"VA","city":"Arlington"},"email":"BRENDANSUDOL@GMAIL.COM","usPhone":"5404218332","firstName":"BRENDAN"},"qualifications":{},"dunsPlus4":"0000","activationDate":"2015-10-30
        11:42:30.0","fiscalYearEndCloseDate":"12/31","businessTypes":["VW","2X","27"],"registrationDate":"2015-10-28
        00:00:00.0","certificationsURL":{"pdfUrl":"https://www.sam.gov/SAMPortal/filedownload?reportType=1&orgId=TxoniSnyCFoPHdoIAwftD1yc%2BZ7fKbLkln46HAxaGFYVB%2B%2B3kt%2BNKLC%2FlUMmUmjs&pitId=Cvo7UroEns2ZkjYp1CuQFHKGmIis7Cq6KSI8xkev6tPveoVBLdu0Ee%2FR7Px4bjSx&requestId=611ctoT0qotwyaC"},"hasDelinquentFederalDebt":false,"duns":"080037478","cage":"7H1Y7","hasKnownExclusion":false,"publicDisplay":true,"expirationDate":"2016-10-27
        10:53:02.0","status":"ACTIVE","corporateStructureCode":"2J","stateOfIncorporation":"VA","corporateStructureName":"Sole
        Proprietorship","legalBusinessName":"Sudol, Brendan","congressionalDistrict":"VA
        08","bondingInformation":{},"businessStartDate":"2015-10-28","statusMessage":"Active","lastUpdateDate":"2015-11-02
        17:36:23.0","samAddress":{"zipPlus4":"2511","zip":"22203","countryCode":"USA","line1":"4301
        N Henderson Rd Apt 408","stateorProvince":"VA","city":"Arlington"},"submissionDate":"2015-10-28
        10:53:02.0","naics":[{"isPrimary":false,"naicsCode":"518210","naicsName":"DATA
        PROCESSING, HOSTING, AND RELATED SERVICES"},{"isPrimary":true,"naicsCode":"541511","naicsName":"CUSTOM
        COMPUTER PROGRAMMING SERVICES"}],"certifications":{"farResponses":[{"id":"FAR
        52.209-2"},{"id":"FAR 52.209-5","answers":[{"answerText":"No","section":"52.209-5.a.1.i.A"},{"answerText":"No","section":"52.209-5.a.1.i.B"},{"answerText":"No","section":"52.209-5.a.1.i.D"},{"answerText":"No","section":"52.209-5.a.1.i.C"},{"answerText":"No","section":"52.209-5.a.1.ii"}]},{"id":"FAR
        52.203-2","answers":{"section":"52.203-2.b.2.i","SamPointOfContact":{"lastName":"Sudol","title":"CEO","firstName":"Brendan"}}},{"id":"FAR
        52.215-6","answers":{"answerText":"No","section":"52.215-6.a"}},{"id":"FAR
        52.214-14","answers":{"answerText":"No","section":"52.214-14.a"}},{"id":"FAR
        52.223-4","answers":{"answerText":"Yes","section":"52.223-4"}},{"id":"FAR
        52.223-9","answers":{"answerText":"Yes","section":"52.223-9"}},{"id":"FAR
        52.219-2","answers":{"answerText":"No","section":"52.219-2.a"}},{"id":"FAR
        52.204-3","answers":[{"answerText":"TIN ON FILE","section":"52.204-3.d"},{"answerText":"No","section":"52.204-3.f"}]},{"id":"FAR
        52.212-3","answers":[{"naics":[{"isSmallBusiness":"Y","isPrimary":false,"naicsCode":518210,"naicsName":"DATA
        PROCESSING, HOSTING, AND RELATED SERVICES"},{"isSmallBusiness":"Y","isPrimary":true,"naicsCode":541511,"naicsName":"CUSTOM
        COMPUTER PROGRAMMING SERVICES"}],"section":"52.212-3.c"},{"answerText":"Yes","section":"52.212-3.c.1"},{"answerText":"Yes","section":"52.212-3.c.4"},{"answerText":"No","section":"52.212-3.c.5"},{"answerText":"No","section":"52.212-3.c.6.i"},{"answerText":"No","section":"52.212-3.c.6.ii"},{"answerText"[...]
- request:
    method: get
    uri: https://api.data.gov/sam/v4/registrations/0800314780000?api_key=<data_dot_gov_api_key>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
    body:
      encoding: UTF-8
      string: '{"Message":"The registration could not be found","Code":404,"Error":"Not
        Found"}'
  recorded_at: Sun, 24 Apr 2016 15:19:36 GMT
recorded_with: VCR 3.0.1
